html, body {
    font-family: 'Lato', sans-serif;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    margin-bottom: 40px;
    text-align: center;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}

.backimg{
    background: url('images/contactbg.png') no-repeat;
    width: 100%;  
    height: auto;
    background-size: cover;
}


.backhome {
   text-align: center;  
   font-family: 'Roboto', sans-serif;
}

.backhome a{
    color:rgb(226, 226, 226);;
    text-decoration: none;
    padding: 10px 24px;
    background: #0f0f0f;
    font-size: 20px;
    border-radius: 8px;
}

